.find-icons{
    display: flex;
    justify-content: space-between;
}

.find-icons__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-icons__icon i{
    font-size: 35px;
    margin-bottom: 5px;
}

.recommanded-friends{
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommanded-friends__title{
   font-size: 18px;
   color: var(--grey);
}

.recommanded-friends span{
    display: block;
    margin: 100px 0px;
    text-align: center;
    color: var(--grey);
    font-size: 18px;
}

.open-chat__header{
    display: flex;
    justify-content: space-between;
    color: var(--grey);
}

.open-chat__header span{
    opacity: 0.7;
}

.open-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.open-post__title{
    font-weight: 600;
    margin-bottom: 10px;
}

.open-post__hashtags{
    text-transform: uppercase;
    opacity: 0.6;
}

.open-post__members{
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.open-post__members img{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 3px;
}

.open-post__memeber-count{
    font-size: 14px;
    opacity: 0.5;
}

.open-post__members .divider{
    width: 2px;
    height: 15px;
    margin: 0px 5px;
    background-color: var(--grey);
}

.open-post__memeber-status{
    color: #ffb0e0;
}

.open-post__photo{
    position: relative;
}

.open-post__photo img{
    width: 110px;
    height: 110px;
    border-radius: 10px;
}

.open-post__heart-count{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}

.open-post__heart-count span{
    margin-left: 3px;
}