.nav{
    background-color: #F9F9Fa;
    padding: 3% 6%;
    border-top: 1px solid rgba(183, 183, 183, 0.2);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.nav_list{
    display: flex;
    justify-content: space-between;
}

.nav_link{
    color: #2e363e;
    position: relative;
}

.nav_notification{
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.nav_newnotification{
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    left: 25px;
    bottom: 25px;
}